.game {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #dfdbe5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.34' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
.box {
  width: 100px;
  height: 100px;
  background-color: #f4bcbc;
  border: 1px solid #333333;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
}
#winning-text {
  position: relative;
  top: -50px;
  font-size: 30px;
  letter-spacing: 2px;
  color: #393e46;
  background-color: #eee;
  padding: 10px 20px;
}
